<%- partial(
    '../_partials/slide-heading',
    {
      css: 'intro fade',
      title:'Crafting<br/>Interactions',
      subtitle: 'Working with Sketch'
    }
  ) %>

<section class='slide diamond'>
  <div class='inner'>
  </div>
</section>

  <%- partial(
    '../_partials/slide-heading',
    {
      css: '',
      title:'Designing with Data',
      subtitle: ' '
    }
  ) %>

<%- partial(
    '../_partials/slide-quote',
    {
      quote:'The ultimate aim of all artistic activity is building!',
      citation:'Walter Gropius'
    }
  ) %>

<!-- https://github.com/preciousforever/sketch-data-populator -->