.slides .intro{
  background-color: @slate;
  border-top: 10px solid @aqua;
  color: @paper;
  text-shadow: 3px 3px 3px black; 
}

.slides .quote{
  background-color: @paper;
  color: @slate;
}

.slides h1{
  text-transform: none;
  font-weight: 100;
  margin: 0;
  line-height: 1.25;
}

.slides blockquote{
  margin: 0;
}