#slideshow{
  width: 100vw;
  height: 100vh;
}

.slides h1,h2{
  text-transform: none;
  line-height: 1.2;
}

// slide transitions
// --------------------------
.slide{
  background-color: white;
  //#transition.property(top);
  //#transition.duration(0.75s);
  #transition._(top,0.45s);
  #transition._(background-color,1.5s);
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  &[data-state='off']{
    top: -100%;
  }
}

.slide{
  &.fade[data-color="red"],.red{
    background-color: @red;
  }
  &.fade[data-color='slate'],.slate{
    background-color: @slate;
  }
  &.fade[data-color='black'],.black{
    background-color: black;
  }
  &.fade[data-color='navy'],.navy{
    background-color: @navy;
  }
  &.fade[data-color='purple'],.purple{
    background-color: @purple;
  }
  &.fade[data-color='fuchsia'],.fuchsia{
    background-color: @fuchsia;
  }
  &.fade[data-color='aqua'],.aqua{
    background-color: @aqua;
  }
  &.fade[data-color='yellow'],.yellow{
    background-color: @yellow;
  }
  &.fade[data-color='orange'],.orange{
    background-color: @orange;
  }
}


// intro slide variation
// ---------------------------

.slides .intro{
  background-color: @slate;
  border-top: 10px solid @aqua;
  text-align: center;
  .text{
    #center.xy();
  }
}

.slides .intro h1{
  color: white;
  font-weight: 900;
  margin: 0;
  line-height: 1.25;
  text-shadow: 3px 3px 3px black;
  position: relative;
  &:after{
    content: ' ';
    display: block;
    width: @baseUnit * 3;
    background-color: white;
    height: 2px;
    position: absolute;
    bottom: @baseUnit * 3 * -1;
    //margin-bottom: @baseUnit * 3;
    #center.x();
  }
}

.slides .intro h2{
  margin-top: @baseUnit * 2;
  padding-top: @baseUnit * 3;
  color: white;
  font-weight: 100;
}

.slides .quote{
  background-color: @paper;
  color: @slate;
}

.slides .headline{
  .text{
    #center.y();
  }
}

.slides blockquote{
  margin: 0;
}