<%- partial('../_partials/page-title',{title:'Arts &amp; Crafts'}) %>


<blockquote>
The ultimate goal of all visual artistic activity is construction!
<cite>
Walter Gropius
<em>Founder of the Bauhaus School</em>
</cite>
</blockquote>

<p>
<strong>Let's start with a tangent...<br/></strong>
There's always been a bit of friction between designers and developers when comes to working together on digital experiences. 

<br/>
<br/>
Simply put, each discipline would like the other to approach design they way they do. Developers want designers who go beyond principles of beauty and artistic taste and think about the rules and intricacies of interface design. Designers would just love to find a developer <a href='https://bobbosblock.files.wordpress.com/2014/10/developer-hoodie.jpg?w=600'>who gives a shit about beauty and artistic taste</a>. Again, this is putting it simply.
</p>

<p>

</p>