<h2>
CSS selector guide
</h2>

<h3>Select all p elements on the page.</h3>

<div class='dark'>
<pre class='language-css major'><code>p{
  font-size: 12px;
  color: #c30;
}
</code></pre>
</div>

<h3>Select all p <em>and</em> h1 elements on the page.</h3>

<div class='dark'>
<pre class='language-css major'><code>p,h1{
  font-size: 12px;
  color: #c30;
}
</code></pre>
</div>

<h3>Select all p <em>and</em> h1 <em>and</em> h2 elements on the page.</h3>

<div class='dark'>
<pre class='language-css major'><code>p,h1,h3{
  font-size: 12px;
  color: #c30;
}
</code></pre>
</div>

<h3>Select all elements <em>and</em> heading one <em>and</em> heading two elements on the page.</h3>

<div class='dark'>
<pre class='language-css major'><code>p,h1,h3{
  font-size: 12px;
  color: #c30;
}
</code></pre>
</div>