<h2>
A CSS Primer
</h2>

<p class='major'>
CSS is a language that applies style to the structure of an html document. CSS gives the web color, typography and page composition.
</p>

<h3>The Syntax</h3>

<h4>Selectors</h4>
<p>
A CSS ruleset starts with a <em>selector</em>. Selectors identify the element(s) that the styles will be applied to. 
</p>

<p>In this example <code>p</code> is the selector so this ruleset will apply to all paragraph elements on the page.</p>

<div class='dark'>
<pre class='language-css'><code>p{}
</code></pre>
</div>
</div>


<h4>Style Declarations</h4>

<p>Inside the brackets are the style declarations to be applied to the selector.

<div class='dark'>
<pre class='language-css'><code>p{
  color: #c30;
  font-size: 12px;
}
</code></pre>
</div>

The syntax for writing a style declaration is

<pre class='language-css major'><code>property: value;
</code></pre>

<h4>Writing a basic ruleset</h4>

<h5>Selectors</h5>
<p>A css ruleset starts with a <em>selector</em> that defines which html elements the styles will be applied to. In this example the <code>p</code> (paragraph) element is the selector. The styles we add inside the <code>{}</code> brackets will apply to all <code>p</code> tags on the page.
<div class='dark'>


<h5>Style Declarations</h5>
<p>
Here's your basic ruleset. There's a selector, <code>p</code> and inside the brackets are two style declarations.
</p>
<div class='dark'>
<pre class='language-css'><code>p{
  color: #c30;
  font-size: 12px;
}
</code></pre>
</div>

<h4>CSS Selectors</h4>
