#layout{

  // horizontal layouts
  .horizontal(@margin:0.75rem,@justify:flex-start){
    #flex > .row();
    #flex > .wrap(wrap);
    #flex > .justify(@justify);
    > *{
      //#initial > ._(margin-top);
      #initial > ._(margin-bottom);
      //margin-left: @margin / 2;
      margin-right: @margin;
      &:first-child{
        //margin-left: 0;
      }
      &:last-child{
        margin-right: 0;
      }
    }
  }

  // vertical layouts
  .vertical(@margin:0.75rem){
    #flex > .column();
    #flex > .wrap(wrap);
    > *{
      #initial > ._(margin-right);
      //#initial > ._(margin-left);
      //margin-top: @margin / 2;
      margin-bottom: @margin;
      &:first-child{
        //margin-top: 0;
      }
      &:last-child{
        margin-bottom: 0;
      }
    }
  }

  // a container for horizontal columns
  .grid(@gutter:0.75rem){
    #flex > .row();
    #flex > .wrap();
    align-items: stretch;
    align-content: flex-start;
    margin: 0 @gutter * -0.5;
    > *,[class*='column']{
      padding: 0 @gutter * 0.5;
      margin-bottom: @gutter;
      &:last-child{
        margin-bottom: 0;
      }
    }
  }
  
  // a container for stacking columns
  .stack(@gutter:0.75rem){
    margin: @gutter * -0.5 0;
    > *,[class*='column']{
      width: 100%;
      padding: @gutter * 0.5 0;
      margin-bottom: 0;
    }
    &.balanced{
      > *{
        flex-grow: 1;
      }
    }
  }

}