<h2>
The css box model
</h2>

<p>
There are a number of properties that work together to form a box around an element. Understanding how they work is key to solving many common css layout and positioning challenges.
</p>

<h3>The box model properties</h3>

<div class='box demo-box-model' data-show-margin data-show-padding>
</div>