<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Worldbuilder</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="/css/docs.css">
  </head>
  <body class='<%- current.source %>'>
    <%- partial('_partials/navigation') %>
    <main>
      <div class='inner'>
        <article>
          <%- yield %>
        </article>
        <nav>
          <ul id='sidenav'>
            
          </ul>
        </nav>
      </div>
    </main>
    <script type="text/javascript" src="/js/prism.js"></script>
    <script title="This script does x" src="/js/side-nav.js"></script>
    <script title="This script does x" src="/js/box.model.display.js"></script>
    <script title="" src="/js/everything.is.boxes.js"></script>
  </body>
</html>